.body {
  /* text-align: center; */
  font-family: 'Noto Sans', sans-serif;}
#startGameButton {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  cursor: pointer;
  width: 15%;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 25px;
  padding: 15px;
  margin: 0 auto;}
#startGameButton:hover {
  background: rgb(245, 245, 245);}
#rowOfSelect {
  width: 100%;
  /* text-decoration-line: underline; */}
#powerTab {
  /* margin-left: 2%; */
  cursor: pointer;
  display: inline-block;
  border-top: 1px solid rgba(187, 187, 187, 0);
  border-left: 1px solid rgba(187, 187, 187, 0);
  border-right: 1px solid rgba(187, 187, 187, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  /* color:rgb(70, 70, 255) */
}
#powerTab:hover {
  background: rgb(245, 245, 245);}
#incomeTab {
  margin-left: 2%;
  cursor: pointer;
  display: inline-block;
  border-top: 1px solid rgba(187, 187, 187, 0.4);
  border-left: 1px solid rgba(187, 187, 187, 0.4);
  border-right: 1px solid rgba(187, 187, 187, 0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  /* color:rgb(70, 70, 255) */
}
#incomeTab:hover {
  background: rgb(245, 245, 245);}
#cash {
  cursor: default;
  margin-left: 2%;
  display: inline-block;}
.subunit {
  cursor: pointer;
  /* width: 25%; */
  margin-left: 2%;
  /* padding-left: 30px; */
  border-bottom: 1px solid rgba(187, 187, 187, 0.4);
  border-top: 1px solid rgba(187, 187, 187, 0);
  border-left: 1px solid rgba(187, 187, 187, 0);
  border-right: 1px solid rgba(187, 187, 187, 0);
}
.subunit:hover {
  background: rgb(245, 245, 245);}
.subunitCount {
  float: right;
  /* padding-right: 10px; */
}
#incomeDropdown {
  display: inline-block;
  width: 20%;
}
.incomeInfo {
  vertical-align:top;
  padding-top:1%;
  padding-left:1%;
}
.cantAffordBuyButton {
  cursor: pointer;
  border: 1px solid rgba(187, 187, 187, 0.4);
  border-radius: 6px;
  padding: 5px;}
.cantAffordBuyButton:hover {
  background: rgb(245, 245, 245);}
.buyButton {
  cursor: pointer;
  border: 1px solid rgba(187, 187, 187, 0.4);
  border-radius: 6px;
  padding: 5px;}
.buyButton:hover {
  background: rgb(245, 245, 245);}
.buyButton2 {
  cursor: pointer;
  border: 1px solid rgba(187, 187, 187, 0.4);
  border-radius: 6px;
  padding: 5px;}
.buyButton2:hover {
  background: rgb(245, 245, 245);}
#progressBars2 {
  width: 10%;
  display: inline-block;
  padding-left: 1%;
  height: 5%;

}
#progressBars {
  vertical-align:top;
  padding-top:1%;
  position: relative;
  /* font-size:20px; */
}
#progressBlank {
  margin-bottom:0px;
}
.progressBarClassBox {
  border: 1px solid rgba(187, 187, 187, 0.4);
  border-radius: 3px;
  background-color:lightgray;
  width: 100%;

  /* height: 1%; */
  /* margin-bottom:10px; */
}
.progressBarClass {
  width: 1%;
  background-color:lightgreen;
}




