.body {
  /* text-align: center; */
  font-family: 'Noto Sans', sans-serif;}
#startGameButton {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  cursor: pointer;
  width: 15%;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 25px;
  padding: 15px;
  margin: 0 auto;}
#startGameButton:hover {
  background: rgb(245, 245, 245);}
#rowOfSelect {
  width: 100%;
  /* text-decoration-line: underline; */}
#taxesTab {
  /* margin-left: 2%; */
  cursor: pointer;
  display: inline-block;
  border-top: 1px solid rgba(187, 187, 187, 0);
  border-left: 1px solid rgba(187, 187, 187, 0);
  border-right: 1px solid rgba(187, 187, 187, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;}
#taxesTab:hover {
  background: rgb(245, 245, 245);}
#populationTab {
  margin-left: 2%;
  cursor: pointer;
  display: inline-block;
  border-top: 1px solid rgba(187, 187, 187, 0.4);
  border-left: 1px solid rgba(187, 187, 187, 0.4);
  border-right: 1px solid rgba(187, 187, 187, 0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;}
#populationTab:hover {
  background: rgb(245, 245, 245);}
#cash {
  cursor: default;
  margin-left: 2%;
  display: inline-block;}
.subunit {
  cursor: pointer;
  /* width: 25%; */
  margin-left: 2%;
  padding-left: 30px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.4);
}
.subunit:hover {
  background: rgb(245, 245, 245);}
.subunitCount {
  float: right;
  padding-right: 10px;
}
#populationDropdown {
  display: inline-block;
  width: 25%;
}
.populationInfo {
  vertical-align:top;
  padding-top:1%;
  padding-left:5%;
}
#cantAfford {
  cursor: pointer;
  border: 1px solid rgba(187, 187, 187, 0.4);
  border-radius: 6px;
  padding: 5px;}
#cantAfford:hover {
  background: rgb(245, 245, 245);}

#buyStreet {
  cursor: pointer;
  border: 1px solid rgba(187, 187, 187, 0.4);
  border-radius: 6px;
  padding: 5px;}
#buyStreet:hover {
  background: rgb(245, 245, 245);}
#buyStreet2 {
  cursor: pointer;
  border: 1px solid rgba(187, 187, 187, 0.4);
  border-radius: 6px;
  padding: 5px;}
#buyStreet2:hover {
  background: rgb(245, 245, 245);}





